[Unit]
Description=Timer to run battery.service every minute, which records battery charge, capacity, and power draw.

[Timer]
OnCalendar=*-*-* *:*:00
Unit=battery.service

[Install]
WantedBy=timers.target
