[Unit]
Description=Timer to run battery.service every minute, which records battery charge, capacity, and power draw.

[Timer]
OnBootSec=1 m
OnUnitActiveSec=1 m
Unit=battery.service

[Install]
WantedBy=timers.target
